<section class="section-projects" data-ng-show="authentication.user">
    <projects-header></projects-header>
</section>

<section class="row aboutus-container">


    <div class="title-group">
        <h1>About Us</h1>
        <h2>Learn more about Scanifly</h2>
    </div>

    <div class="container">
        <div class="text-header clearfix">
            <p class="col-md-12 content-header"><strong>Scanifly is dedicated to making solar site assessments safe, accurate, and efficient.</strong></p>
            <p class="col-md-6 col-sm-6 col-xs-6 content-left">
                The Scanifly Team has experienced the typical solar site assessment first hand. Why get on top of a roof with a measuring tape and a shade analysis tool when you can use a drone to collect all of your data. After all, some of us are scared of heights anyway.. Scanifly's technology makes it possible to collect solar site assessment data without ever putting boots on the roof!
                <br><br>
                Capturing a solar access viewshed with a fish-eye lens, while physically on the roof, is now a thing of the past. At Scanifly, we provide a solar access shade report that is comparable to the current industry standard. We can even remove a tree from the 3D model and re-process the shade analysis before the customer commits to removing the tree.
            </p>
            <p class="col-md-6 col-sm-6 col-xs-6 content-right">
                No longer does a site assessor need to draw dimensions on paper while on the roof. Scanify is taking the guess work out of reading those (sometimes illegible) handwritten roof dimensions. We provide you with an already to scale dwg file so you do not waste time drawing roof planes and elevations.
                <br><br>
                Our experience, passion and all-nighters have allowed us to create a product for the solar industry that is truly remarkable. We are excited to bring this product to you, and help make a dent in the solar universe.
            </p>
        </div>
    </div>

	<div class="container">
		<h2 class="col-md-12 col-sm-12 subtitle-black text-center">Meet the Team</h2>

        <div class="col-lg-12 section-divider">
            <div class="col-lg-4 col-md-4 col-sm-6 team-member-wrapper">
                <img src="modules/core/img/about/JohnNovak/John-color.png" />
                <br>
                <strong>John J. Novak</strong> <br> Founder &amp; CEO
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 team-member-wrapper">
                <img src="modules/core/img/about/CareyMakkay/Carey-color.png" />
                <br>
                <strong>Carey Makkay</strong> <br> Co-Founder &amp; CFO
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 team-member-wrapper">
                <img src="modules/core/img/about/GregMakkay/Greg-color.png" />
                <br>
                <strong>Greg Makkay</strong> <br> Co-Founder &amp; CSO
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 team-member-wrapper">
                <img src="modules/core/img/about/DenisKobozev/Denis-color.png" />
                <br>
                <strong>Denis Kobozev</strong> <br> Software Engineer
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 team-member-wrapper">
                <img src="modules/core/img/about/IlyaTatar/Ilya-color.png"  />
                <br>
                <strong>Ilya Tatar</strong> <br> Systems Engineer
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 team-member-wrapper">
                <img src="modules/core/img/about/Venkat/Venkat-color.png"  />
                <br>
                <strong>Venkat Ganesh</strong> <br> Robotics Software Engineer
            </div>
            <!-- <div class="col-lg-4 col-md-4 col-sm-6 team-member-wrapper">
                <img src="modules/core/img/about/Joshua/Joshua-color.png"  />
                <br>
                <strong>Joshua Thijssen</strong> <br> Software Engineer
            </div> -->
        </div>
    </div>

    <div class="container">
        <h2 class="col-md-12 col-sm-12 subtitle-black text-center">Our Offices</h2>
        <div class="col-lg-12 section-divider">
            <div class="text-center">
                <!-- default width="600", height="450" -->
                <iframe class="col-sm-6" height="400" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=358%20Chestnut%20Hill%20Ave%2C%20Suite%20301B%20Boston%2C%20MA%2002135&key=AIzaSyBC-b6UKZdDuHT5jTv-bWT3bkbhCXJg2ng" allowfullscreen></iframe>

                <iframe class="col-sm-6" height="400" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=1105%20Windsor%20Edinburg%20Road%20Hightstown%20NJ%2008520&key=AIzaSyBC-b6UKZdDuHT5jTv-bWT3bkbhCXJg2ng" allowfullscreen></iframe>

            </div>
        </div>
    </div>

    <div class="container">
        <p class="text-center content-header"><strong><br>
            Want to join our Team? We are looking for talented, passionate people! Send us your cover letter & resume to: <a
                href="mailto:havefun@scanifly.com">havefun@scanifly.com</a>.<br /></strong>
        </p>
    </div>
</section>
