<section class="section-projects" data-ng-show="authentication.user">
	<projects-header></projects-header>
</section>

<section class="section section-features">

	<div class="title-group">
		<h1>Features</h1>
		<h2>What's included in the Scanifly solar site assessment</h2>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-12 features">
				<div class="col-md-4 feature 6 col-sm-6">
					<img src="modules/core/img/features/01_site_info.svg" class="feature-icon site-info">
					<h3>Site Information</h3>
				</div>
				<div class="col-md-4 feature col-sm-6">
					<img src="modules/core/img/features/02_3d_model.svg" class="feature-icon">
					<h3>3D Model</h3>
					<p>View the entire site in 3d from within your dashboard!</p>
				</div>
				<div class="col-md-4 feature col-sm-6">
					<img src="modules/core/img/features/03_solar_access.svg" width="200" class="feature-icon">
					<h3>Solar Access &amp; Shade Report</h3>
				</div>
				<div class="col-md-4 feature col-sm-6">
					<img src="modules/core/img/features/04_drone_eyeview.svg" width="200" class="feature-icon">
					<h3>Drone's Eye View Images</h3>
				</div>
				<div class="col-md-4 feature col-sm-6">
					<img src="modules/core/img/features/05_cad_file.svg" width="200" class="feature-icon">
					<h3>2D CAD File</h3>
				</div>
				<div class="col-md-4 feature col-sm-6">
					<img src="modules/core/img/features/06_sketch_file.svg" width="200" class="feature-icon">
					<h3>SketchUp File</h3>
				</div>
			</div>
		</div>
	</div>

	<div class="section-access">

			<h2 class="text-center">Access Your Data Anywhere</h2>

		<div class="container">
			<div class="row">

				<div class="col-md-4 access_col col-sm-4">
					<img src="modules/core/img/features/07_dashboard.svg" width="100">
					<h3>Company Dashboard</h3>
					<p>Search and keep track of your projects in one organized place using the Scanifly Dashboard.&nbsp;</p>
				</div>
				<div class="col-md-4 access_col col-sm-4">
					<img src="modules/core/img/features/08_any_device.svg" width="100">
					<h3>Accessible on Any Device</h3>
					<p>The Scanifly Dashboard is super mobile friendly. Request a site assessment right from your mobile device at the sales meeting!&nbsp;</p>
				</div>
				<div class="col-md-4 access_col col-sm-4">
					<img src="modules/core/img/features/09_download_data.svg" width="100">
					<h3>Download Data</h3>
					<p>Easily download your pictures, shade report, skp, and dwg individually; or in one convenient zip file. Need the ply? Just let us know!&nbsp;</p>
				</div>
			</div>
		</div>

	</div>

	<!-- REMOVED EXTRA FEATURE INFORMATION HERE -->

</section>
