<section class="section-projects" data-ng-show="authentication.user">
	<projects-header></projects-header>
</section>

<section class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="hero-content col col-md-12">
				<h1>The future of solar&nbsp;is here</h1>
				<h4>Scanifly uses a drone to perform safe, accurate, and efficient solar site assessments.<br></h4>
				<!-- <button type="button" ui-sref="signup" class="btn btn-lg btn-green">Get Started</button> -->
			</div>
		</div>
	</div>
</section>

<section class="section-hiw section">
	<div class="container">
		<div class="row">
			<h2 class="col-md-12 text-center section-title">How It Works</h2>
			<div class="col-xxs-12 col-xs-6 col-lg-3 hiw-step odd">
				<article class="block block-map">
					<p><b>Give us the location</b> you need a solar site assessment for.</p>
					<p>Are we in your area? <br></p>

				</article>
			</div>
			<div class="col-xxs-12 col-xs-6 col-lg-3 hiw-step even">
				<article class="block block-drone">
					<p><b>We 3D scan the location</b> with an Unmanned Aircraft System (UAS), or the cooler term, "Drone". </p>

				</article>
			</div>
			<div class="col-xxs-12 col-xs-6 col-lg-3 hiw-step odd">
				<article class="block block-report">
					<p><b>We provide the site assessment data</b>, including a solar access shade report.</p>

				</article>
			</div>
			<div class="col-xxs-12 col-xs-6 col-lg-3 hiw-step even">
				<article class="block block-devices">
					<p><b>You access and download your data</b> using our mobile friendly dashboard.</p>
					<br>
				</article>
			</div>
			<!-- <div class="button-container clear">
				<a type="button" ui-sref="where-we-scan" class="btn btn-empty-border uppercase">see where we scan</a>
				<a ui-sref="features" class="btn uppercase btn-green">learn more</a>
			</div> -->

		</div>
	</div>
</section>

<section class="section section-solar">
	<div class="container">
		<div class="row">
			<div class="col-md-6 mockup-image col-sm-6 col-xs-12">
				<img src="/modules/core/img/graphic-2x.png" class="">
			</div>
			<div class="col-md-6 col-sm-6 content-section-solar col-xs-12">
				<h2 class="section-title">Get The Best Solar Site Assessment</h2>
				<p class="p">Why get on top of a roof with a measuring tape and a shade analysis tool. Scanifly's technology makes it possible to collect solar site assessment data without ever putting boots on the roof!&nbsp;</p>
				<button type="button" ui-sref="features" class="btn btn-lg btn-green">See all features</button>
			</div>
		</div>
	</div>
</section>

<section class="section-testimonial section">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-xs-12">
				<h4 class="quote"><i>"Who wants to get on a roof with a measuring tape and a shade analysis tool, when you can simply use Scanifly’s innovative platform to safely and accurately collect all of your data."</i></h4>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="block author-block">
					<div class="author-info">
						<h5 class="name">John J. Novak</h5>
						<p>Founder & CEO</p>
					</div>
					<img src="/modules/core/img/homepage/john-image.png" class="author-image"/>
				</div>
			</div>
		</div>
	</div>
</section>
