<section class="row login-container section">

	<div class="title-group">
		<h1>User Login</h1>
		<h2>Access your account</h2>
	</div>

	<div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2 login-form-container">
		<form name="userForm" data-ng-submit="signin(userForm)" data-ng-class="{'submitted': error}" class="signin form-horizontal" novalidate autocomplete="off">
			<fieldset>
				<div class="form-group">
					<input type="email" data-ng-required="true" block-space id="email" name="email" class="form-control" data-ng-model="credentials.email" placeholder="Email" data-ng-pattern="/^[_a-zA-Z0-9]+(\.[_a-zA-Z0-9]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,4})$/" data-ng-maxlength="50" maxlength="50">
				</div>
				<div class="form-group">
					<input type="password" data-ng-required="true" block-space id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password" data-ng-minlength="6">
				</div>
				<div class="text-center form-group button-container">
					<button type="submit" class="btn btn-primary">Log in</button>
				</div>

				<div data-ng-show="error" class="bg-danger">
					{{ error }}
				</div>

				<div class="forgot-password">
					<a href="/#!/password/forgot">Forgot your password?</a>
				</div>

			</fieldset>
		</form>
	</div>
</section>
