<section class="row login-container section">

	<div class="title-group">
		<h1>Restore your password</h1>
	</div>

	<div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2 login-form-container">

		<p>Enter your account Email.</p>
		<form name="forgotPassForm" data-ng-submit="askForPasswordReset(forgotPassForm)" data-ng-class="{'submitted': error}" class="signin form-horizontal" autocomplete="off" novalidate>

			<fieldset>
				<div class="form-group">
					<input type="email" required id="email" name="email" class="form-control" data-ng-model="credentials.email" placeholder="Email" data-ng-pattern="/^[_a-zA-Z0-9]+(\.[_a-zA-Z0-9]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,4})$/" data-ng-maxlength="50" maxlength="50">
				</div>
				<div class="text-center form-group button-container">
					<button type="submit" class="btn btn-primary">Request new Password</button>
				</div>

				<div data-ng-show="error" class="bg-danger">
					{{ error }}
				</div>

				<div data-ng-show="success" class="bg-success">
					{{ success }}
				</div>

			</fieldset>
		</form>
	</div>
</section>
