<section class="row login-container section">

	<div class="title-group">
		<h1>Reset your password</h1>
	</div>

	<div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2 login-form-container">

		<p>Choose your new password.</p>
		<form data-ng-submit="resetUserPassword()" class="signin form-horizontal" autocomplete="off" novalidate>

			<fieldset>
				<div class="form-group">
					<input type="password" required id="newPassword" name="newPassword" class="form-control" data-ng-model="passwordDetails.newPassword" placeholder="New Password" ng-minlength="6">
				</div>
				<div class="form-group">
					<input type="password" required id="verifyPassword" name="verifyPassword" class="form-control" data-ng-model="passwordDetails.verifyPassword" placeholder="Verify Password" data-ng-minlength="6">
				</div>
				<div class="text-center form-group button-container">
					<button type="submit" class="btn btn-primary">Update Password</button>
				</div>
				<div data-ng-show="error" class="bg-danger">
					{{error}}
				</div>
				<div data-ng-show="success" class="bg-success">
					{{success}}
				</div>
			</fieldset>
		</form>
	</div>
</section>
