<p>
    <span class="pull-left">
        <span class="date-container display-block">{{activity.createdAt | date:'MM.dd.yyyy'}}</span>
        <span class="icon-container"><i class="icon-user-deleted"></i></span>
    </span>

    <span class="text-under pull-left">
        <span data-ng-show="authentication.user._id != activity.postedBy._id">{{activity.postedBy.name}} from <span class="bold">{{activity.company.name}}</span></span>
        <span data-ng-show="authentication.user._id == activity.postedBy._id">you</span>

        activated user <span class="bold">{{activity.user.name}}</span>.
    </span>

</p>
