<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:cctd="http://www.constantcontact.com/cctd">

<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<title>Project Updated</title>


	<script type="text/javascript">
		var AKSB=AKSB||{};AKSB.q=[];AKSB.mark=function(c,b){AKSB.q.push(["mark",c,b||(new Date).getTime()])};AKSB.measure=function(c,b,a){AKSB.q.push(["measure",c,b,a||(new Date).getTime()])};AKSB.done=function(c){AKSB.q.push(["done",c])};AKSB.mark("firstbyte",(new Date).getTime());AKSB.prof={custid:"314244",ustr:"",originlat:0,clientrtt:688,ghostip:"213.198.95.132",ipv6:false,pct:10,xhrtest:false,clientip:"95.76.223.171",requestid:"14040c"};
		(function(c){var b=document.createElement("iframe");if(/MSIE (\d+\.\d+);/.test(navigator.userAgent)||/Trident/.test(navigator.userAgent))b.src='javascript:void((function(){document.open();document.domain="'+document.domain+'";document.close();})())';(b.frameElement||b).style.cssText="width: 0; height: 0; border: 0; display: none";var a=document.getElementsByTagName("script"),a=a[a.length-1];a.parentNode.insertBefore(b,a);a=function(){try{var a=b.contentWindow.document,d=a.createElement("script");
			d.setAttribute("src",c);d.setAttribute("type","text/javascript");var e=a.head;null==e&&(e=a.createDocumentFragment());e.appendChild(d)}catch(f){}};window.setTimeout(a,1);b.onload=a})(("https:"===document.location.protocol?"https:":"http:")+"//ds-aksb-a.akamaihd.net/aksb.min.js");
	</script>
</head>

<body class="mail" style="background: #f2f2f2; color: #000000; font-family:'Arial', Helvetica, sans-serif; font-size: 13px; margin: 0; padding: 0; border-top: 0px solid #000000;">

<table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="f2f2f2">
	<tr>
		<td align="center" valign="top" width="100%">

			<table border="0" cellspacing="0" cellpadding="0" style="width:600px; background:#ffffff">
				<tr>
					<td align="left" style="text-align: left;">
						<table class="body_email_style" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" style="width:600px; background: #ffffff">
							<tr style="background:#ffffff">
								<td>
									<table border="0" cellspacing="0" cellpadding="0" style="width:600px; background:#ffffff">
										<tr style="background: #ffffff">
											<td style="background:#ffffff;padding-left: 20px;padding-top: 20px;padding-bottom:20px;">
												<img style="width:150px; display: block;" width="150px" src="https://scanifly-demo.herokuapp.com/modules/core/img/scanifly-logo.jpg" alt="Scanifly logo" />
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr><td align="center" style="height: 140px; background-color: #005a8a">
								<table border="0" cellspacing="0" cellpadding="0" bgcolor="#005a8a">
									<tr>
										<td align="center"><span style="font-family:'Arial', Helvetica, sans-serif; color: #ffffff; font-size: 18px; border-bottom: 1px solid #76cdfb; padding: 30px 0 3px 0; display: block; width: 40%">PROJECT DATA</span></td>
									</tr>
									<tr>
										<td align="center" style="padding-top:20px"><span style="font-family:'Arial', Helvetica, sans-serif; color: #ffffff; font-size: 36px; padding-bottom: 35px; display: block;">Project Data Updated!</span></td>
									</tr>
								</table>
							</td></tr>
							<tr><td>
								<table border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
									<tr align="left">
										<td align="left" valign="top" style="padding-left: 20px; padding-top: 40px">
											<span style="font-family:'Arial', Helvetica, sans-serif; font-size: 14px">Dear {{contactPersonName}},</span>
										</td>
									</tr>
									<tr align="left">
										<td valign="left" style="padding-left: 20px; padding-top: 20px">
											<span style="font-family:'Arial', Helvetica, sans-serif; font-size: 14px">Scanifly admin {{userName}} has edited the data of {{projectName}} project. <br> Check out the project below:</span>
										</td>
									</tr>
									<tr align="left">
										<td valign="left" style="padding-left: 20px; padding-top: 20px">
											<span style="font-family:'Arial', Helvetica, sans-serif; font-size: 14px"><a href="{{projectUrl}}" style="font-size:14px;text-decoration: none;color: #005a8a;cursor: pointer">{{projectUrl}}</a></span>
										</td>
									</tr>
								</table>
							</td></tr>
							<tr><td style="padding-top: 40px;padding-bottom: 50px">
								<table cellspacing="0" cellpadding="0" bgcolor="#ffffff">
									<tr>
										<td style="padding-left: 20px; padding-bottom: 15px"><span style="font-family:'Arial', Helvetica, sans-serif; font-size: 14px; padding-bottom: 15px">If you need any help, feel free to email us at <a href="mailto:support@scanifly.com" style="font-size:14px;text-decoration: none;color: #005a8a;cursor: pointer">support@scanifly.com</a></span></td>
									</tr>
									<tr>
										<td style="padding-left: 20px"><span style="font-family:'Arial', Helvetica, sans-serif; font-size: 14px; font-weight: 600;">The {{appName}} Support Team</span></td>
									</tr>
								</table>
							</td></tr>
							<tr style="width: 100%">
								<td>
									<table cellspacing="0" cellpadding="0" bgcolor="#2e2f30" width="100%">
										<tr style="width: 100%">
											<td align="center" style="padding-top:20px"><span style="font-family:'Arial', Helvetica, sans-serif; color: #ffffff; font-size: 16px"><a href="http://www.scanifly.com/" style="text-decoration: none; color: #ffffff; cursor: pointer">www.scanifly.com</a></span></td>
										</tr>
										<tr style="width: 100%">
											<td align="center" style="padding: 15px 0 30px 0"><span style="font-family:'Arial', Helvetica, sans-serif; color: #ffffff; font-size: 11px">&copy; Copyright Scanifly, 2015. Patents Pending</span></td>
										</tr>
									</table>
								</td>
							</tr>

						</table>
					</td>
				</tr>
			</table>

		</td>
	</tr>
</table>


</body>
</html>
