<div class="container">
    <div class="row">
        <div class="status-bar-container col-md-12">

            <div class="status-icon" data-ng-class="{'step-completed': availableStatuses[0].value, 'current-step': availableStatuses[0].current}">
                <span class="icon-location-submitted icon-size-w-55 icon-grey"></span>
                <p>Location Submitted</p>
            </div>

            <div class="status-icon" data-ng-class="{'step-completed': availableStatuses[1].value, 'current-step': availableStatuses[1].current}">
                <span class="icon-flight-scheduled icon-size-w-55 icon-grey"></span>
                <p>Flight Scheduled</p>
            </div>

            <div class="status-icon" data-ng-class="{'step-completed': availableStatuses[2].value, 'current-step': availableStatuses[2].current}">
                <span class="icon-flight-successful icon-size-w-55 icon-grey"></span>
                <p>Flight Completed</p>
            </div>

            <div class="status-icon" data-ng-class="{'step-completed': availableStatuses[3].value, 'current-step': availableStatuses[3].current}">
                <span class="icon-view-in-scanifly3D-white icon-size-w-55 icon-grey"></span>
                <p>View in Scanifly3D</p>
            </div>
        </div>
    </div>
</div>
