<section class="section-projects">
	<projects-header></projects-header>
</section>

<section class="row section login-container">

	<div class="container">
		<div class="row">
			<div class="dashboard-body">
				<div class="col-md-3 right-border">
					<h3>SETTINGS</h3>

					<a data-ui-sref="profile">Edit Profile</a> <br>
					<div data-ng-if="acl.hasAccess('edit-company')">
						<a data-ui-sref="company">Edit Company</a>
					</div>
					<a data-ui-sref="password">Change Password</a> <br>
					Billing
				</div>

				<div class="col-md-9">
					<div>
						<h3>BILLING</h3>
					</div>

					<div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2 login-form-container">
						<p>Billing coming soon<br>(get your credit card ready!)</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
