<section class="section-projects">
	<projects-header></projects-header>
</section>

<section class="row section login-container">

	<div class="container">
		<div class="row">
			<div class="dashboard-body">
				<div class="col-md-3 right-border">
					<h3>SETTINGS</h3>

					<a data-ui-sref="profile">Edit Profile</a> <br>
					<div data-ng-if="acl.hasAccess('edit-company')">
						<a data-ui-sref="company">Edit Company</a>
					</div>
					Change Password <br>
					<div data-ng-if="acl.hasAccess('billing')">
						<a data-ui-sref="billing">Billing</a>
					</div>
				</div>

				<div class="col-md-9">
					<div>
						<h3>CHANGE PASSWORD</h3>
					</div>

					<div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2 login-form-container">
						<form data-ng-submit="changeUserPassword(passwordForm)" data-ng-class="{'submitted': error}" name="passwordForm" class="signin form-horizontal" novalidate autocomplete="off">

							<fieldset>
								<div class="form-group">
									<input type="password" data-ng-required="true" id="currentPassword" name="currentPassword" class="form-control" data-ng-model="passwordDetails.currentPassword" placeholder="Current Password" data-ng-minlength="6">
								</div>
								<div class="form-group">
									<input type="password" data-ng-required="true" id="newPassword" name="newPassword" class="form-control" data-ng-model="passwordDetails.newPassword" placeholder="New Password" data-ng-minlength="6">
								</div>
								<div class="form-group">
									<input type="password" data-ng-required="true" id="verifyPassword" name="verifyPassword" class="form-control" data-ng-model="passwordDetails.verifyPassword" placeholder="Verify Password" data-ng-minlength="6">
								</div>
								<div class="text-center form-group button-container">
									<button type="submit" class="btn btn-primary">Save Password</button>
								</div>

								<div data-ng-show="error" class="bg-danger">
									{{ error }}
								</div>

								<div data-ng-show="success" class="bg-success">
									{{ success }}
								</div>
							</fieldset>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
