
<section class="section-projects">
    <projects-header></projects-header>
</section>

<section class="section section-new-scan">

	<div class="container">
		<div class="row">
	
			<h2 class="title col-md-12" id="request-scan">New Scan Request</h2>
			
			<a data-ui-sref="create-project" type="button" class="btn-new-scan btn btn-green btn-lg">Let Scanifly Scan for you</a>
			<br><br>
			<a data-ui-sref="create-own-project" type="button" class="btn-new-scan btn btn-green btn-lg">Used the Scanifly App? Upload your own data</a>
		</div>
	</div>

	<br><br><br><br><br><br><br><br><br>
	<br><br><br><br><br><br><br><br><br>
	
</section>